---
layout: default
title: AKAUNTS - Inicio
description: Technology Distributor
image: assets/img/logo.png
tagline:
social:
    name: 
    Links: 

logo: favicon.png
---
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container  d-lg-flex flex-row-reverse align-items-center" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.svg" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>Proveemos<br><span>soluciones</span><br>para su empresa</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">¿Quiénes Somos?</a>
          <a href="#services" class="btn-services scrollto">Nuestros Servicios</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>¿Quiénes Somos?</h3>
          <p>Profesionales en servicio</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Somos un equipo multi-disciplinario de profesionales con más 25 años de experiencia en diferentes industrias enfocados en:

            </p>

            {% for item in site.data.caracteristicas-servicios %}
              
              <div class="icon-box mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="{{ item.icon }}"></i></div>
                <h4 class="title"><a href="">{{ item.title }}</a></h4>
                <!-- <p class="description text-warning">{{ item.description }}</p> -->
              </div>

            {% endfor %}

            
          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Productos</h3>
          
        </header>

        <div class="row justify-content-center">
          {% for item in site.data.products %}

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <a href="{{ item.link }}">
              <div class="box text-center">
                <h4 class="title"><img src="{{ item.logo }}" alt="{{ item.title }}"></h4>
                <p class="description">{{ item.desc }}</p>
              </div>
            </a>
          </div> 

          {% endfor %}


        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="d-flex align-items-center">
      <div class="container" data-aos="fade-up">
        <header class="section-header mb-5">
          <h3>¿Por qué AKAUNTS?</h3>
        </header>

        <div class="row row-eq-height justify-content-center mt-5">

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="100">
              <i class="bi bi-lightbulb"></i>
              <div class="card-body">
                <h5 class="card-title">Innovación</h5>
                <p class="card-text">Agregamos valor a su negocio a través de la tecnología.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="200">
              <i class="bi bi-graph-up"></i>
              <div class="card-body">
                <h5 class="card-title">Rentabilidad</h5>
                <p class="card-text">Logramos una relación de beneficio mutuo (SaaS).</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-gear"></i>
              <div class="card-body">
                <h5 class="card-title">Soporte</h5>
                <p class="card-text">Capacitamos y apoyamos a nuestros usuarios. </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

     <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h3>Contáctenos</h3>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://maps.google.com/maps?q=Edificio%20Centro%20Empresarial&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 340px;" allowfullscreen></iframe>
            </div>


         </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="bi bi-geo-alt"></i>
                <p>{{ site.data.contact.address }}</p>
              </div>
              <div class="col-md-4 info">
                <i class="bi bi-envelope"></i>
                <p><a href="mailto:{{ site.data.contact.email }}" class="text-dark">{{ site.data.contact.email }}</a></p>
              </div>
              <div class="col-md-3 info">
                <i class="bi bi-phone"></i>
                <p>{{ site.data.contact.phone }}</p>
              </div>
            </div>

            <div class="form">
              <form action="https://usebasin.com/f/af865a5302e0" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="Nombre" class="form-control" id="name" placeholder="Nombre" required>
                  </div>
                  <div class="form-group col-lg-6 mt-3 mt-lg-0">
                    <input type="text" name="Apellido" class="form-control" id="lastname" placeholder="Apellido" required>
                  </div>
                  <div class="form-group col-lg-6 mt-3 ">
                    <input type="text" class="form-control" name="Empresa" id="enterprise" placeholder="Empresa" >
                  </div>
                  <div class="form-group col-lg-6 mt-3 ">
                    <input type="text" class="form-control" name="Teléfono" id="telephone" placeholder="Teléfono" >
                  </div>
                  <div class="form-group mt-3 ">
                    <input type="email" class="form-control" name="E-Mail" id="email" placeholder="Correo Electrónico" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="Asunto" id="subject" placeholder="Asunto" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="Mensaje" rows="5" placeholder="Mensaje" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Cargando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Su mensaje fue enviado, gracias.</div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Enviar Mensaje</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->