---
layout: product-page
title: AKAUNTS - MovilVentas
description: Technology Distributor
image: assets/img/logo.png
tagline:
social:
    name:
    Links:

logo: favicon.png
product-name: MovilVentas 
product-logo: assets/img/mv/mv-logo-white.svg
product-title: Productos modulares para pequeñas, medianas y grandes empresas.
product-description: Más de 10 años años en el mercado, capacidad de adaptarnos a cualquier ERP, experiencia en el mercado Latinoamericano con más de 10,000 usuarios que utilizan la aplicación.
---


        <div class="container d-flex d-xl-flex flex-column justify-content-center align-items-xl-center h-100" style="font-size: 14px;" data-aos="fade-up">  
            <div class="row about-container my-4">
                <div class="col-12 col-lg-6 align-self-center">

                    {% for item in site.data.servicios-mv %}
                      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="{{ item.icon }}"></i></div>
                        <h4 class="title"><a href="">{{ item.title }}</a></h4>
                        <p class="description">{{ item.description }}</p>
                      </div>
                    {% endfor %}

                </div>
                <div class="col-12 col-lg-6  align-self-center"><img class="w-100" src="assets/img/mv/about-mv.png" data-aos="zoom-in"></div>

                <div class="col-12 col-lg-6" data-aos="fade-up"><img class="w-100" src="assets/img/mv/chart-mv.png"></div>
                <div class="col-12 col-lg-6  align-self-center">
                    <h3>Aplicaciones</h3>
                    {% for item in site.data.aplicaciones-mv %}
                      <div class="icon-box my-2"  data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="{{ item.icon }}"></i></div>
                        <h4 class="title me-2 pt-3"><a class="align-center" href="">{{ item.title }}</a></h4>
                      </div>
                    {% endfor %}                    
                </div>
                <div class="col video-responsive" data-aos="fade-down"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/7dVWx7-BhJc" ></iframe></div>                
            </div>
        </div>
