<div class="form">
  <form action="https://usebasin.com/f/af865a5302e0" method="post" role="form" class="php-email-form">
    <div class="row">
      <div class="form-group col-lg-6">
        <input type="text" name="Nombre" class="form-control" id="name" placeholder="Nombre" required>
      </div>
      <div class="form-group col-lg-6 mt-3 mt-lg-0">
        <input type="text" name="Apellido" class="form-control" id="lastname" placeholder="Apellido" required>
      </div>
      <div class="form-group col-lg-6 mt-3 ">
        <input type="text" class="form-control" name="Empresa" id="enterprise" placeholder="Empresa" required >
      </div>
      <div class="form-group col-lg-6 mt-3 ">
        <input type="text" class="form-control" name="Teléfono" id="telephone" placeholder="Teléfono" required >
      </div>
      <div class="form-group mt-3 ">
        <input type="email" class="form-control" name="E-Mail" id="email" placeholder="Correo Electrónico" required>
      </div>
    </div>
    <div class="form-group mt-3">
      <input type="text" class="form-control" name="Asunto" id="subject" placeholder="Asunto" required>
    </div>
    <div class="form-group mt-3">
      <textarea class="form-control" name="Mensaje" rows="5" placeholder="Mensaje" required></textarea>
    </div>
    <div class="my-3">
      <div class="loading">Cargando</div>
      <div class="error-message"></div>
      <div class="sent-message">Su mensaje fue enviado, gracias.</div>
    </div>
    <div class="text-center"><button type="submit" title="Send Message">Enviar Mensaje</button></div>
  </form>
</div>