        <div class="text-center hero mb-3 product-hero py-2 py-md-4 py-sm-3">
            <img class="vh-18 mw-100" src="{{ page.product-logo }}" data-aos="fade-in">
        </div>
        <div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center h3">{{ page.product-title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <p class="text-center w-100"> {{ page.product-description }} </p>
                </div>
            </div>
        </div>